

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: rgb(168, 168, 221);
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.menu, .nike {
    flex: 1;
}


.navbar .menu li {
    list-style: none;
    display: inline;
    margin: 7px;
}

#nike{
    max-width: 6vw;
    padding-left: 6vw;
}

#menu{
    max-width: 4vw;
    float: right;
    padding-right: 10px;
}


.menu li a{
    font-size: 2vw;
    font-weight:bold;
}

#en{
    font-size: 2vw;
    margin-right: 15px;
}

/* THE GRID STYLES */

.column-grid{
    margin-top: 100px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 4vw;
}


/* COLUMN-ONE */

#leg-sneaks{
    max-width: 100px;
}

#intro{
    max-width: 324px;
    font-size: 2.5vw;
    margin-top: 50px;
    margin-bottom: 10px;
}

#latest{
    width: 309px;
    font-size: 24px;
    margin-top: 20px;
}

#border{
    height: 100px;
    border-left: 2px solid black;
    margin: 30px 0px 30px 0px;
}

#exclusive{
    width: 347;
    font-size: 24px;
}

.socials{
    width: 99px;
    font-size: 16px;
    margin-top: 30px;
    text-decoration: underline;
    display: flex;
    width: 200px;
    margin-bottom: 30px;
}

.socials img{
    width: 20px;
    display: flex;
    padding-left: 10px;
}


/* COLUMN-TWO */
.column-two{
    position: relative;
    text-align: center;
}

.float{
    font-size: 11vw;
    display: inline-flex;
}

@media screen and (max-width: 1000px){
    #kids, #men, #women{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

}


#long-sneaks{
height: 827px;
width: 397px;
}

#who{
    text-align: center;
    width: 400px;
    font-size: 5vw;
}

#kids{
    position: absolute;
    bottom: -1vw;
    left: -23vw;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#men{
    position: absolute;
    bottom: -1vw;
    left: 1vw;
    color: white;
}

#women{
    position: absolute;
    bottom: -1vw;
    right: -41vw;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}



/* STYLE FOR THE COLUMN-THREE */

.grid-column-three{
    margin-left: 5vw;
}

h3{
    max-width: 120px;
    height: 60px;
    justify-content: right;
    font-size: 13px;
    margin-left: 13.8vw;
}



#hand-sneaks{
    height: 284px;
    width: 197px;
    margin-top: 1vw;
}

#new{
height: 84px;
width: 275px;
margin-top: 3vw;
font-size: 2.5vw;
}

#sales{
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}

.list ul {
    margin-top: 2vw;
    font-size: 2vw;
    margin-left: 1vw;
    font-weight: bolder;
}


/* .float{
    position: relative;
    width: 100%;
    border: 2px solid red;
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
} */

/* #kids{
    position: absolute;
} */

/* #men{
    position: absolute;
}

#women{
    position: absolute;
} */
